.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type='range'] {
  width: 100%;
  margin: 2px 0;
}

$sqrt3: 1.73205080757;
$display-node-side-to-side-length: 100px;
$display-node-vertex-to-vertex-length: $display-node-side-to-side-length * 2 / $sqrt3;
$display-node-margin: 2px;

.node-canvas {
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.node-row {
  position: relative;
}

.node-row:not(:last-child) {  
  height: $display-node-side-to-side-length / 2 + $display-node-margin;
}

.node-row:nth-child(2n) {
  left: ($display-node-vertex-to-vertex-length * 3 / 4) + ($display-node-margin * 2 / $sqrt3);
}

.node {
  width: $display-node-vertex-to-vertex-length;
  height: $display-node-side-to-side-length;
  display: inline-block;
  position: relative;
  margin: $display-node-margin (($display-node-margin * 2 / $sqrt3) + ($display-node-vertex-to-vertex-length / 4));
}

.node-title,
.node-datum {
  width: $display-node-vertex-to-vertex-length;
  height: $display-node-side-to-side-length - ($display-node-margin * 2);
  position: absolute;
  display: flex;
}

.node-title {
  justify-content: center;
  align-items: flex-start;
  font-size: 10px;
  transform: rotate(-60deg);
}

.node-datum {
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.node-top,
.node-bottom {
  width: $display-node-vertex-to-vertex-length / 2;
  height: 0;
  position: absolute;
  border-style: solid;
  border-color: yellow transparent;
  border-width: 0 $display-node-vertex-to-vertex-length / 4;
}

.node-top {
  bottom: 50%;
  border-bottom-width: $display-node-side-to-side-length / 2;
}

.node-bottom {
  top: 50%;
  border-top-width: $display-node-side-to-side-length / 2;
}

.time-frame-control {
  text-align: right;
}
